/* FIXING THE HEADER AREA */

body
{
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

/* puts the correct banner at the top without height restrictions */
#contest_title 
{
    height:258px;
    margin: 0;
    background:url("http://www.holgadirect.com/images/facebook/huwybs/01.jpg") no-repeat left top;
}

/* hides the banner and search for other competitions buttons */
#contest_list_button, #contest_logo 
{
	display: none;
}

/* changes positions of like and send facebook buttons */
#like_and_send 
{
	margin-left: 20px;
	margin-top: -5px;
}


/* FIXING THE BUTTONS AREA */


/* putting the right background in and fixing the height */
#main_tabs 
{
	height: 32px;
	margin: 0;
	background:url("http://www.holgadirect.com/images/facebook/huwybs/02.jpg") no-repeat left top;
}

/* removing the border styling on the unselected tabs */
#main_tabs .left_tabs li a, #main_tabs .right_tabs li a 
{
	border-right: 0;
	color: white;
}

/* removing the styling of a selected tab */
#main_tabs .left_tabs li a.selected 
{
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
	padding-top: 8px;
	background-color: transparent;
	color: white;
	font-weight:bold;
}


#main_tabs .right_tabs li a.selected 
{
border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
	padding-top: 8px;
	background-color: transparent;
	color: white;
	font-weight:normal;	
}

#main_tabs .left_tabs li.selected, #main_tabs .right_tabs li.selected
{
	/*background-color: transparent;*/
	color: white;
	background-color: rgba(0, 0, 0, .2);
	padding-bottom: 5px;
}

#main_tabs .right_tabs li.selected
{
	margin-left:0px;
}

#main_tabs .right_tabs
{
	background-color: rgba(0, 0, 0, .2);
	padding-bottom: 5px;
	display:none;
}

#main_tabs .left_tabs
{
	background-color: rgba(0, 0, 0, .2);
	padding-right: 15px;
}

/* MAIN AREA - DETAILS */

/* reformatting the indenting of the numbered list */
.textile ul, .textile ol 
{
	padding-left: 15px;
}

/* removing the self referential h1 */
h1
{
	display: none;
}

/* exchanging the background color with an image */
#main-content
{
	background:url("http://www.holgadirect.com/images/facebook/huwybs/03.jpg") no-repeat left top;
	border-top: 0;
	padding-bottom: 50px;
}

/* removing the white border around the columns and background color of contest image + adding another image under the left side buttons */
#prize_column
{
	background:url("http://www.holgadirect.com/images/facebook/huwybs/04.png");
	background-repeat:no-repeat;
	background-position-x:0;
	background-position-y:425px;
	padding-bottom:480px;
}


#prize_column, #policies_column, #contest_image
{
	background-color: transparent;
	border-bottom: 0;
}

/* change the color of the text in main body to black */
#policies_column dd
{
	color: black;
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

/* Changing the size of the prizes text */
dt
{
	font-size: 2em;
	color: rgba(164, 76, 26, .8);
}

/* Changing the color of links */
a
{
	color: white;
}

/* Hiding the contest buttons */
/*.contest-button
{
	display: none;
*/

/*Restyling the contest buttons */
.contest-button, .vote-button, .view-entries-button, .invite-friends-button, #email_coupon_button_container .contest-button, #publish_newsfeed_link
{
	display: block;
	background: rgba(0, 0, 0, .2);
	width:200px;
	height:23px;
	color: white;
	font-weight: bold;
	font-size: 110%;
	border: 0 !important;
	border-color: 0 !important;
	padding: 0;
	margin: 0;
}

.contest-button:nth-child(1), a.contest-button:nth-child(1):hover{
	background: rgba(0, 0, 0, .2);
	margin: 0 !important;
	padding: 10px 0 0 0 !important;
	width:200px !important;
	height:23px !important;
	border: 0 !important;
	border-color: 0 !important;

}
.contest-button:nth-child(2), a.contest-button:nth-child(2):hover{
	background: rgba(0, 0, 0, .2);
	margin: 10px 0 !important;
	padding: 10px 0 0 0 !important;
	width:200px !important;
	height:23px !important;
	border: 0 !important;
	border-color: 0 !important;

}
.contest-button:nth-child(3), a.contest-button:nth-child(3):hover{
	background: rgba(0, 0, 0, .2);
	margin: 0 !important;
	padding: 10px 0 0 0 !important;
	width:200px !important;
	height:23px !important;
	border: 0 !important;
	border-color: 0 !important;

}	

.contest-button:hover 
{ 	
	background:rgba(0, 0, 0, .4); 
	}

/* FOOTER */

/*fixing the text color, link color, and background*/

#contest_footnote, #contest_footnote a
{
	color: gray;
	background-color:transparent;
	margin-top:25px;
	margin-left: 20px;
	margin-right: 20px;
}

/* PARTICIPATE */

input, textarea, select 
{
	border: 0;
	border-image: initial;
}

.legend
{
	top: 228px;
	left: -450px;
}

ul.submenu 
{
	margin-bottom: -55px;
	z-index: 1;
}

ul.submenu li
{
	margin-left:-2px;
}

ul.submenu li.selected
{
	background: rgba(0, 0, 0, .2);	
	border:0;
}

.entry_form_section 
{
	padding: 0;
	margin: 20px 30px;
	border-bottom: 0;
	background-color: transparent;
}

#entry_form_submit.button-to 
{
	padding: 20px 35px;
	margin: 20px 30px;
	border-bottom: 0;
	background-color: transparent;
	border: 0;
	text-align: center;
	border-image: initial;
}

#entry_form_submit.button-to input 
{
	padding: 5px 45px;
	color: white;
	font-weight: bold;
	background: rgba(0, 0, 0, .2);
	font-size: 140%;
	cursor: pointer;
}

.question_form .question-become_a_fan 
{
	height: 68px;
	padding-top: 20px;
}

.question_form label, .question_form h2, .question_form 
{
	color: black;
}

.spam_footnote
{
	font-size: 80%;
}

/* JUDGING */

h3
{
	display: none;
}

hr
{
	display: none;
}

.jury_info #info_column
{
	padding-top: 40px;
}

#logo_column
{
	background-color: transparent;
	margin-top: 40px;
}

#logo_column #countdown_box, #logo_column .sponsored
{
	color:white;
}

#info_column .textile
{
	margin-bottom: 20px;
}

.question_form .question-become_a_fan
{
	
}

/* JUDGING */
.jury_info #info_column h3
{
	display: block;
}

/* WINNERS */

div.flash.notice 
{
	background-color: transparent;
	border-color: transparent;
	margin-top: 60px;
}

.prize_giving h3
{
	display: none;
	border: 0;
}

/* SHARE */

#invite_form
{
	background-color:transparent;
	border: 0 !important;
	margin-left:20px;
	margin-top:10px;
}

#invite_form_wrapper
{
	border: 0 !important;
}

/* MICROSITE - LOG IN FACEBOOK - PARTICIPATE */
#entry_form_fbconnect_section
{
	background:transparent;
	padding-top:10px;
	margin-bottom:-30px;
}

/* MICROSITE - SHARE */
.email_invite_form .form_fields
{
	border-left:0;
}

.email_invite_form .form_fields .msg textarea
{
	color:black;
}

.email_invite_form .form_fields #send_invite_email_button_container .send_invite_email_button
{
	display: inline;
	background: rgba(0, 0, 0, .2);
	width:130px !important;
	height:30px !important;
	color: white;
	font-weight: bold;
	font-size: 110%;
	border: 0 !important;
	border-color: 0 !important;
	padding: 0;
	margin: 0;
	margin-top: 20px !important;
	padding-bottom: 25px !important;
	vertical-align:-12px;
}

